.container-login {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding-top: 2vh;
  overflow-y: scroll;
  width: 100%;
}
.container-login * {
  margin: .6vh 0;
}
.container-login .btn-aux {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.container-login .btn-aux a {
  text-decoration: none;
  color: #EA1D2C;
  font-weight: bold;
}
.container-login .btn {
  border: none;
  cursor: pointer;
  width: 40vw;
}
.container-login .btn * {
  color: #fff;
  font-weight: bold;
}
.container-login .btn:hover {
  background-color: #a02331;
}
