* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #282727;
  height: max-content;
}
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fff;
  border-radius: 10px;
  width: 100vw;
  height: 100vh;
}

#root {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container-top{
  display: flex;
  position: fixed;
  top: 0;
  background-color: #282727;
  z-index: 7;
  height: 5vh;
  width: 100%;
}
@media (max-width: 414.98px) {
  html {
    background-color: transparent;
  }
  body {
    width: 100vw;
  }
  #root .app-header {
    width: 100% !important;
    border-radius: 0;
  }
  .orders .pageNumbers {
    width: 95vw !important;
  }
  .orders .div-btns-orders {
    width: 95vw !important;
  }
  .container-modal {
    width: 100vw !important;
  }
  .container-maps {
    width: 90vw !important;
  }
}
@media (max-height: 744px) {
  main {
    height: max-content;
  }
}
