.container-orders{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.btn-create-order{
    margin: 2vh 0;
    cursor: pointer;
    width: max-content;
    height: max-content;
    background-color: #EA1D2C;
}


.btn-create-order  p{
    padding: .3rem;
    font-weight: bold;
    color: #fff;
}

.btn-create-order:hover {
    background-color: #fff;
    border: 2px solid #ea1d2c;
  }
  
  .btn-create-order:hover p{
      color: #ea1d2c;
    }
  
    


.btn-prev{
    cursor: pointer;
    margin-top: 2vh;
    height: max-content;
    width: max-content;
}

.btn-prev  {
    background-color: #2b9042;
  }
  
.btn-prev:hover {
    background-color: #fff;
    border: 2px solid #2b9042;
}

.btn-prev  p{
    padding: .3rem;
    font-weight: bold;
    color: #fff;
}
.btn-prev:hover p {
    color: #2b9042;
}